/djangoenv/*
__pycache__/
*.py[cod]
*.sqlite3

log/*
!log/.keep

media/*
!media/.keep

static/*
!static/.keep

share

tmp/*
!tmp/.keep

bin
lib
lib64
pip-selfcheck.json
pyvenv.cfg
src

.DS_Store
*.swp

